<!-- File name: Express My Portfolio
     Student's name: Ayse Osanmaz
     StudentID: 301090678
     Date: 04 October 2023 -->
     <!DOCTYPE html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Assignment 1 | <%= title %></title> <!-- Set the title of the web page -->
         <link rel="stylesheet" href="/stylesheet/style.css"/> <!-- Link to your custom CSS file -->
         <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/> <!-- Link to Bootstrap CSS -->
         <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/> <!-- Link to Font Awesome CSS for icons -->
     </head>
     </html>
     