<!-- File name: Express My Portfolio
     Student's name: Ayse Osanmaz
     StudentID: 301090678
     Date: 04 October 2023 -->
     
<!-- This is the navigation bar at the top of the page. It uses a dark background. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- The logo is displayed here with a link to the homepage. -->
    <a class="navbar-brand" href="/"><img src="img/logo.png" alt="logo" width="100" height="100"></a>
    <!-- This button toggles the navigation menu on small screens. -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- The navigation links are placed inside this collapsible container. -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- This is the active link for the homepage. -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- Links to other sections of the website. -->
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <!-- Link to the contact page. -->
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
