<!-- File name: Express My Portfolio
Student's name: Ayse Osanmaz
StudentID: 301090678
Date: 04 October 2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/myphoto.png" alt="Personal Photo" class="img-fluid">
        <br>
        <p>Ayse Osanmaz</p>
        <a href="documents/cv.pdf" class="btn btn-primary mt-3" target="_blank" download>Download CV</a>
      </div>
      <div class="col-md-6">
        <h1><%= title %></h1>
        <p>
          Hello! I'm a passionate AI engineering student with a deep fascination for the world of artificial intelligence and machine learning. From a young age, I've been captivated by the idea of machines that can think and learn like humans. Currently pursuing my degree in AI engineering, I'm dedicated to mastering the intricate algorithms and technologies that power intelligent systems. My journey in this field has been driven by a desire to solve complex problems and make a positive impact on the world through innovative AI solutions. I thrive on challenges, enjoy collaborating with like-minded individuals, and am always eager to stay at the forefront of this rapidly evolving field. When I'm not immersed in coding and research, you'll often find me experimenting with AI projects, exploring new datasets, or sharing my knowledge with others through blog posts and tutorials. I believe that AI has the potential to transform industries, and I'm excited to be part of the next generation of engineers shaping the future of technology.
        </p>
       
      </div>
     
    </div>
  </div>



    
<%- include ('partials/footer.ejs') %>