<!-- File name: Express My Portfolio
Student's name: Ayse Osanmaz
StudentID: 301090678
Date: 04 October 2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<div class="homepage" style="background-image: url('img/mission bg.JPG');">
  <div class="container">
    <div class="overlay-text">
      <div class="overlay-text-box">
        <h3>In the realm of code, every bug is an opportunity for growth.</h3>
       
      </div>
    </div>
    <div class="overlay-text2">
      <div class="overlay-text-box2">
        <h2>Welcome to the world of software, where every error is a lesson and every success is a celebration.</h2>
      <div>
    </div>
  </div>
</div>




<%- include ('partials/footer.ejs') %>