<!-- File name: Express My Portfolio
     Student's name: Ayse Osanmaz
     StudentID: 301090678
     Date: 04 October 2023 -->


<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<h1><%= title %></h1>
<div class="row row-cols-3 row-cols-md-3 g-2">
  <div class="col">
    <div class="card h-100">
      <img src="img/A128.jpg" class="card-img-top" alt="protected">
      <div class="card-body">
        <h5 class="card-title">Protected Areas Website</h5>
        <p class="card-text">I led a web design project for a protected natural area, aiming to create an informative and visually appealing website. My role involved designing the site's layout, navigation, and graphics to showcase the area's biodiversity, conservation efforts, and visitor information. The outcome was a user-friendly and visually captivating website that not only raised awareness about the protected area but also facilitated online reservations and donations, contributing to its long-term preservation and sustainability.</p>
        <a href="http://studentweb.cencol.ca/aosanmaz/Assignment2.html" class="btn btn-primary stretched-link">Protected Areas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/chatbot.png" class="card-img-top" alt="chatbot">
      <div class="card-body">
        <h5 class="card-title">AI Chatbot</h5>
        <p class="card-text">In the AI chatbot design project, I played a key role in conceptualizing, developing, and fine-tuning an intelligent virtual assistant. Leveraging natural language processing (NLP) and machine learning techniques, our team created a user-friendly chatbot capable of understanding and responding to user queries across various domains. My responsibilities included defining the conversational flow, designing the user interface, and optimizing the chatbot's performance. The outcome was a highly efficient and adaptable AI chatbot that significantly improved customer support and engagement on our platform, enhancing user satisfaction and efficiency of our services. </p>
        <a href="http://studentweb.cencol.ca/aosanmaz/Assignment2.html" class="btn btn-primary stretched-link">AI Chatbot</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/bug.png" class="card-img-top" alt="bug">
      <div class="card-body">
        <h5 class="card-title">Bug Smasher</h5>
        <p class="card-text"> I was the lead developer for a web-based Bug Smasher Game design project, implemented in JavaScript. The game was designed to provide players with an engaging and fun experience while challenging their reflexes. My role involved developing the game's core mechanics, including bug generation, player controls, and scoring. I also incorporated interactive features like power-ups and leaderboards to enhance player engagement. The outcome of the project was a fully functional and addictive web game that allowed players to compete with friends and other online users. The game received positive feedback for its intuitive design and addictive gameplay, contributing to increased user engagement on our website.</p>
        <a href="http://studentweb.cencol.ca/aosanmaz/comp125/assn3/" class="btn btn-primary stretched-link">Bug Smasher</a>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>