<!-- File name: Express My Portfolio
     Student's name: Ayse Osanmaz
     StudentID: 301090678
     Date: 04 October 2023 -->

<!-- Include the header and navigation bar partials -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<!-- Display the title of the page -->
<h1><%= title %></h1>

<!-- Create a row for displaying service cards -->
<div class="row row-cols-2 row-cols-md-2 g-2">
  <!-- First service card for General Programming -->
  <div class="col">
    <div class="card h-100">
      <!-- Display an image related to General Programming -->
      <img src="img/service1.jpg" class="card-img-top" alt="general_programming">
      <div class="card-body">
        <!-- Title for the service -->
        <h5 class="card-title">Game Development</h5>
        <!-- Description of the service -->
        <p class="card-text">Introducing our comprehensive Game Programming and Design Project Services! Are you looking to turn your gaming idea into reality? Our expert team of developers and designers is here to bring your vision to life. From concept to final release, we offer a full suite of services including game design, programming, 2D/3D art creation, sound design, and quality assurance. With years of industry experience, we ensure your game not only looks stunning but also runs smoothly across platforms. Whether you're an indie developer or a gaming studio, our customized solutions cater to your unique needs. Get ready to level up your game development journey with our top-notch services. Contact us today to embark on your gaming adventure!</p>
      </div>
    </div>
  </div>

  <!-- Second service card for Web Development -->
  <div class="col">
    <div class="card h-100">
      <!-- Display an image related to Web Development -->
      <img src="img/service2.jpg" class="card-img-top" alt="web_development">
      <div class="card-body">
        <!-- Title for the service -->
        <h5 class="card-title">Web development</h5>
        <!-- Description of the service -->
        <p class="card-text">From designing responsive and visually appealing websites to building dynamic web applications, I have the skills to bring your ideas to life on the web. I specialize in front-end technologies like HTML, CSS, and JavaScript, along with frameworks such as React and Angular. Let's create an engaging online presence for your business or personal projects.</p>
      </div>
    </div>
  </div>

  <!-- Third service card for Database Management -->
  <div class="col">
    <div class="card h-100">
      <!-- Display an image related to Database Management -->
      <img src="img/service3.jpg" class="card-img-top" alt="database_management">
      <div class="card-body">
        <!-- Title for the service -->
        <h5 class="card-title">Database management</h5>
        <!-- Description of the service -->
        <p class="card-text">Efficiently organizing and managing data is crucial for any business. With expertise in database management systems like MySQL, Oracle, and MongoDB, I can design and optimize databases to ensure data integrity, security, and performance. Whether it's developing efficient queries, establishing data relationships, or implementing data backup strategies, I can help you streamline your data management processes.</p>
      </div>
    </div>
  </div>

  <!-- Fourth service card for Project Management -->
  <div class="col">
    <div class="card h-100">
      <!-- Display an image related to Project Management -->
      <img src="img/service4.jpg" class="card-img-top" alt="project_management">
      <div class="card-body">
        <!-- Title for the service -->
        <h5 class="card-title">Project management</h5>
        <!-- Description of the service -->
        <p class="card-text">Managing projects effectively requires a combination of technical expertise, organizational skills, and communication. With experience in overseeing software development projects from initiation to completion, I can ensure that your projects are delivered on time, within budget, and meet your expectations. From defining project scope and milestones to coordinating team resources, I am committed to successful project outcomes.</p>
      </div>
    </div>
  </div>
</div>

<!-- Include the footer partial -->
<%- include ('partials/footer.ejs') %>
